
.dateWarn {
    background: red !important;
}

.dateDone {
    background: green !important;
}

.hidden {
    display: none !important;
}

.vcenter {
    display: flex;
    align-items: center;
}

.btn-fixed {
    width: 120px !important;
}